[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
#[include fluidd.cfg]

#[include printer-mmu2s.cfg]
#[include mmu2s-diy.cfg]
#[include printer-macros.cfg]

[pause_resume]
#recover_velocity: 50.
#   When capture/restore is enabled, the speed at which to return to
#   the captured position (in mm/s). Default is 50.0 mm/s.

[display_status]

[respond]


[mcu]
#serial: /dev/serial/by-id/<your-mcu-id>
serial: /dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0
#serial : /dev/ttyUSB1
#baud: 115200
#baud : 576000
#fw_max_size: 40960
#fw_sector_size: 2048
#fw_ota_sector_offset: 20

restart_method: command


[mcu nozzle_mcu]
#serial : /dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller_CBAJb132J03-if00-port0
serial : /dev/ttyS0
restart_method : command
baud : 576000


[include timelapse.cfg]

[virtual_sdcard]
path: /home/van/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 10000
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 8

[stepper_x]
step_pin: mmu:PC5 # PE5 #
dir_pin: !mmu:PC4#PE6 #
enable_pin:!mmu:PB0#!PC13 #
microsteps: 32
rotation_distance: 40
endstop_pin : tmc2209_stepper_x:virtual_endstop#endstop_pin: !PG10
#position_endstop: 0
position_endstop: 265
position_min: -11
position_max: 265
homing_speed: 30
homing_retract_dist: 10
second_homing_speed: 5
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: mmu:PA7#PG8 #
interpolate: False                   # 256 microstep interpolation (True/False)
run_current: 1.1
hold_current: 0.6
stealthchop_threshold: 0
driver_SGTHRS:60
sense_resistor: 0.110
diag_pin: mmu:PB5

[stepper_y]
step_pin: PE2
dir_pin: PE3
enable_pin: !PE4
microsteps: 32
rotation_distance: 40
endstop_pin: !PA12
#position_endstop: 0
position_endstop: -29
position_min: -29
position_max: 263
homing_retract_dist: 10
homing_speed: 50.0
second_homing_speed: 10.0

[stepper_z]
step_pin: PB9
dir_pin: !PE0
enable_pin: !PE1
microsteps: 32
rotation_distance: 8
endstop_pin: probe: z_virtual_endstop #!PA14
#position_endstop : probe: z_virtual_endstop #-1
position_max: 260
position_min: -20
second_homing_speed: 1
homing_speed: 5

[stepper_z1]
step_pin: PB4
dir_pin: !PB5
enable_pin: !PB8
microsteps: 32
rotation_distance: 8



#[extruder]
#step_pin: PB4
#dir_pin: PB5
#enable_pin: !PB8
#microsteps: 32
#rotation_distance: 4.6969 #33.805
#nozzle_diameter: 0.400
#filament_diameter: 1.750
#heater_pin: PG12
#sensor_type: ATC Semitec 104GT-2
#sensor_pin: PA1
#control: pid
#pid_Kp: 18.831
#pid_Ki: 0.821
#pid_Kd: 108.044
#min_temp: 0
#max_temp: 300
#max_extrude_only_distance: 300
#max_extrude_cross_section: 5.0
#pressure_advance = 0.06

[extruder]
max_extrude_only_distance : 100.0
step_pin : nozzle_mcu:PC14
dir_pin : nozzle_mcu:PC15
enable_pin : !nozzle_mcu:PC13
microsteps : 16
full_steps_per_rotation:200
rotation_distance :6.426
nozzle_diameter : 0.400
filament_diameter : 1.750
max_extrude_cross_section:50
heater_pin : nozzle_mcu:PB8
sensor_type : NTC 100K MGB18-104F39050L32
sensor_pin : nozzle_mcu:PA0
#control : pid
#pid_Kp : 19.026
#pid_Ki : 0.893
#pid_Kd : 101.311
min_temp : -200
#min_safe_temp : 170
min_extrude_temp : 170
#max_safe_temp : 300
max_temp : 320
pressure_advance: 0.02

[tmc2209 extruder]
uart_pin : nozzle_mcu:PA3
uart_address : 3
run_current : 0.8
hold_current:0.4
sense_resistor: 0.0750
stealthchop_threshold : 99999
interpolate : True

[heater_fan hotend_fan]
#[extruder1_fan]
pin : nozzle_mcu:PB6

[fan]
pin :nozzle_mcu:PB5
cycle_time:0.002
kick_start_time: 0.5


[heater_bed]
heater_pin: PG11
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
min_temp: 0
max_temp: 130
#max_power: 1

#pid_Kp: 73.932
#pid_Ki: 1.521
#pid_Kd: 898.279

#[heater_fan hotend_fan]
#pin: PG14 #PA15 #
#fan_speed: 1

#[fan]
#pin: PG13 #PG14#
#max_power: 0.8
#kick_start_time: 1

[controller_fan controller_fan]
#pin: PA14
pin: PD6
max_power: 1
stepper: stepper_x, stepper_y, stepper_z, extruder
heater: extruder, heater_bed


[heater_fan hotend_fan1]
#[output_pin LED_Nozzle]
pin: !nozzle_mcu:PA15
#pwm: False
#value: 0


[output_pin LED_logo]

pin: nozzle_mcu:PB9
pwm: False
value: 0

#pin1 : nozzle_mcu:PB9
#pin2 : !nozzle_mcu:PA15
#value: 0
    
#[filament_switch_sensor cutter]
#pause_on_runout: False
#runout_gcode:
            #PARK_MACRO
            # M117 Out of Filament
#insert_gcode:
            #M117 Resuming
            #RESUME_MACRO
#event_delay: 3.0
#pause_delay: 0.5

#cutter_pin: nozzle_mcu:PB1
    #switch_pin: nozzle_mcu:PB0
#switch_pin: nozzle_mcu:PB1
    
#[filament_switch_sensor sentinel]
#pause_on_runout: True
#runout_gcode:
#  M25
#switch_pin: PA15

[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance:  50
variable_purge_distance:  25
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 60 %}
    SAVE_GCODE_STATE NAME=unload_state
    G91
    G92 E0
    G1 E{purge_distance} F{speed} # purge
    G1 E-{unload_distance} F{max_velocity} # fast-unload
    RESTORE_GCODE_STATE NAME=unload_state

[gcode_macro LOAD_FILAMENT]
variable_load_distance:  50
variable_purge_distance:  25
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 60 %}
    SAVE_GCODE_STATE NAME=load_state
    G91
    G92 E0
    G1 E{load_distance} F{max_velocity} # fast-load
    G1 E{purge_distance} F{speed} # purge
    RESTORE_GCODE_STATE NAME=load_state    

[output_pin beeper]
pin: PB0

[safe_z_home]
home_xy_position: 125,127 #100,120
speed: 50
z_hop: 5
z_hop_speed: 5

[z_tilt]
z_positions: 0, 125
              255, 125
points:  5, 125
          240, 125
speed: 200
horizontal_move_z: 4
retries: 10
retry_tolerance: 0.01
[bed_mesh]
speed: 100
probe_count: 6,6
#horizontal_move_z: 10
#algorithm: lagrange
#mesh_min : 27.5,2
#mesh_max : 242,225
#mesh_pps: 0

#manual
mesh_min: 15,15
mesh_max: 240,240
#probe_count: 3,3
#fade_start: 1.0
#fade_end: 10.0

[probe]
#pin: !PB15
#pin:nozzle_mcu:PA7

#z_offset: 0.1
x_offset: 9.5
y_offset: 35
samples: 2
speed: 2
lift_speed:5
sample_retract_dist: 2.0
#z_offset: 1

#[probe] xy2
#x_offset: 27.5
#y_offset: -8.5
pin: !PF13#!mmu:PD2#PG9
#speed: 30
#samples: 2
#speed: 2
#lift_speed:5
#sample_retract_dist: 3.0

#z_offset: 1

#[load_cell]
#@sensor_type: hx711
#[cs1237]
#level_pin:nozzle_mcu:PA7
#dout_pin:nozzle_mcu:PA6
#sclk_pin:nozzle_mcu:PA5
#register:60
#sensitivity:-3000
#head_block_sensitivity:-300000
#scratch_sensitivity:-100000
#self_check_sensitivity:-400
#block_filament_sensitivity:-3000


[input_shaper]
shaper_freq_x:  32.13  # frequency for the X mark of the test model
shaper_type_x: ei
shaper_freq_y:  34.09  # frequency for the Y mark of the test model
shaper_type_y: 2hump_ei

[gcode_arcs]
resolution: 0.5

[exclude_object]

[gcode_macro WIPE]
gcode:
    M106 S255
    G1 X253 F3000
    G1 X264 F3000
    G1 X253 F3000
    G1 X264 F3000
    G1 X253 F3000
    G1 X264 F3000
    G1 X253 F3000
    G1 X264 F3000
    G1 X253 F3000
    G1 X264 F3000
    G1 X253 F3000
    G1 X264 F3000
    G1 X253 F3000
    G1 X264 F3000
    G1 X253 F3000
    G1 X264 F3000
    G1 X253 F3000
    M106 S0

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True  ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 255  ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : -10  ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 20   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True  ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 259.0 ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 250.0 ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
#                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : ""    ; Everything insight the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: ""    ; Everything insight the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: "MMU_END"    ; Everything insight the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.150106, 0.159481, 0.133231, 0.118856, 0.095106, 0.068856
#*# 	0.068856, 0.141356, 0.125731, 0.105106, 0.083231, 0.022606
#*# 	0.065731, 0.149481, 0.151356, 0.140106, 0.117606, 0.056981
#*# 	-0.001144, 0.090106, 0.110731, 0.100731, 0.095106, 0.027606
#*# 	-0.033644, 0.030106, 0.047606, 0.055106, 0.036981, -0.013019
#*# 	0.071981, 0.105106, 0.106981, 0.121981, 0.128856, 0.103231
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 240.0
#*# min_y = 15.0
#*# max_y = 240.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.576
#*# pid_ki = 1.179
#*# pid_kd = 968.023
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.892
#*# pid_ki = 1.302
#*# pid_kd = 83.835
#*#
#*# [probe]
#*# z_offset = 0.860
